<div class="table-container"><h3 class="header">Информация по курсу Angular</h3></div>

<div class="table-container">
  <table>
    <tr>
      <th>lesson</th>
      <th>links</th>
    </tr>
    <tr>
      <td>Урок 1</td>
      <td>
        <p><a href="https://www.youtube.com/embed/sL6VvWOAuLE">https://www.youtube.com/embed/sL6VvWOAuLE</a></p>
        <p><a href="https://docs.npmjs.com/cli/version.html">https://docs.npmjs.com/cli/version.html</a></p>
        <p><a href="https://docs.npmjs.com/cli/install.html">https://docs.npmjs.com/cli/install.html</a></p>
        <p><a href="https://docs.npmjs.com/cli/uninstall.html">https://docs.npmjs.com/cli/uninstall.html</a></p>
        <p><a href="https://docs.npmjs.com/cli/update.html">https://docs.npmjs.com/cli/update.html</a></p>
        <p><a href="https://docs.npmjs.com/cli/run-script.html">https://docs.npmjs.com/cli/run-script.html</a></p>
        <p><a href="https://www.youtube.com/embed/JfpCicDUMKc">https://www.youtube.com/embed/JfpCicDUMKc</a></p>
        <p><a href="https://www.youtube.com/embed/26pHLqNmx3Q">https://www.youtube.com/embed/26pHLqNmx3Q</a></p>
        <p><a href="https://www.youtube.com/embed/RJoNVnFWxRs">https://www.youtube.com/embed/RJoNVnFWxRs</a></p>
      </td>

    </tr>
    <tr>
      <td>Урок 2</td>
      <td>
        <p><a href="https://www.youtube.com/embed/BL0onSQtKLY">https://www.youtube.com/embed/BL0onSQtKLY</a></p>
        <p><a href="https://www.youtube.com/embed/yQpg1L3jH_E">https://www.youtube.com/embed/yQpg1L3jH_E</a></p>
        <p><a href="https://www.youtube.com/embed/9YfCaddI5bg">https://www.youtube.com/embed/9YfCaddI5bg</a></p>
        <p><a href="https://www.w3schools.com/cssref/tryit.asp?filename=trycss_visibility_collapse">https://www.w3schools.com/cssref/tryit.asp?filename=trycss_visibility_collapse</a></p>
        <p><a href="https://www.w3schools.com/cssref/pr_class_visibility.asp">https://www.w3schools.com/cssref/pr_class_visibility.asp</a></p>
        <p><a href="https://www.youtube.com/embed/BgUiEuNaGuE">https://www.youtube.com/embed/BgUiEuNaGuE</a></p>
        <p><a href="https://ultimatecourses.com/blog/difference-change-ngmodelchange-angular">https://ultimatecourses.com/blog/difference-change-ngmodelchange-angular</a></p>
        <p><a href="https://xsltdev.ru/angular/tutorial/angular-templates/">https://xsltdev.ru/angular/tutorial/angular-templates/</a></p>
      </td>
    </tr>
    <tr>
      <td>Урок 3</td>
      <td>
        <p><a href="https://material.angular.io/components/autocomplete/examples">https://material.angular.io/components/autocomplete/examples</a></p>
        <p><a href="https://material.angular.io/components/slide-toggle/examples">https://material.angular.io/components/slide-toggle/examples</a></p>
        <p><a href="https://text-mask.github.io/text-mask/">https://text-mask.github.io/text-mask/</a></p>
      </td>
    </tr>
    <tr>
      <td>Урок 4</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Урок 6</td>
      <td>
        <p><a href="https://www.youtube.com/embed/esWI7GD72Ok">https://www.youtube.com/embed/esWI7GD72Ok</a></p>
        <p><a href="https://xsltdev.ru/angular/tutorial/dependency-injection/">https://xsltdev.ru/angular/tutorial/dependency-injection/</a></p>
        <p><a href="https://angular.io/guide/dependency-injection-in-action">https://angular.io/guide/dependency-injection-in-action</a></p>
        <p><a href="https://angular.io/api/core/Host">https://angular.io/api/core/Host</a></p>
      </td>
    </tr>
    <tr>
      <td>Урок 9</td>
      <td><a href="https://jsonplaceholder.typicode.com/users">https://jsonplaceholder.typicode.com/users</a></td>
    </tr>
    <tr>
      <td>Урок 10</td>
      <td><a href="https://metanit.com/web/angular2/">https://metanit.com/web/angular2/</a></td>
    </tr>
  </table>
</div>

