<div class="table-container"><h3 class="header">Уроки по курсу Angular</h3></div>

<div class="table-container">
  <div>
    <table>
      <tr>
        <th>lesson</th>
        <th>git</th>
        <th>stackblitz</th>
      </tr>
      <tr>
        <td>Урок 1</td>
        <td><a href="https://github.com/AnR31/Angular_v1">https://github.com/AnR31/Angular_v1</a></td>
        <td><a href="https://stackblitz.com/edit/angular-ivy-xw3r9s">https://stackblitz.com/edit/angular-ivy-xw3r9s</a>
        </td>
      </tr>
      <tr>
        <td>Урок 2</td>
        <td>
          <p><a href="https://github.com/AnR31/cryptoin">https://github.com/AnR31/cryptoin</a></p>
          <p><a href="https://github.com/AnR31/change">https://github.com/AnR31/change</a></p>
          <p><a href="https://github.com/AnR31/fibonachi">https://github.com/AnR31/fibonachi</a></p>
        </td>
        <td>
          <p><a href="https://stackblitz.com/github/AnR31/cryptoin">https://stackblitz.com/github/AnR31/cryptoin</a></p>
          <p><a href="https://stackblitz.com/github/AnR31/change">https://stackblitz.com/github/AnR31/change</a></p>
          <p><a href="https://stackblitz.com/github/AnR31/fibonachi">https://stackblitz.com/github/AnR31/fibonachi</a></p>
        </td>
      </tr>
      <tr>
        <td>Урок 3</td>
        <td>
          <p><a href="https://github.com/AnR31/angular-autocomplete">https://github.com/AnR31/angular-autocomplete</a></p>
          <p><a href="https://github.com/AnR31/slide">https://github.com/AnR31/slide</a></p>
          <p><a href="https://github.com/AnR31/mask">https://github.com/AnR31/mask</a></p>
        </td>
        <td>
          <p><a href="https://stackblitz.com/github/AnR31/angular-autocomplete">https://stackblitz.com/github/AnR31/angular-autocomplete</a></p>
          <p><a href="https://stackblitz.com/github/AnR31/slide">https://stackblitz.com/github/AnR31/slide</a></p>
          <p><a href="https://stackblitz.com/github/AnR31/mask">https://stackblitz.com/github/AnR31/mask</a></p>
        </td>
      </tr>
      <tr>
        <td>Урок 4</td>
        <td><a href="https://github.com/AnR31/tables/tree/2c429a2ab58af25dc71379c51f5195610dafafa2">https://github.com/AnR31/tables</a></td>
        <td><a href="https://stackblitz.com/github/AnR31/tables">https://stackblitz.com/github/AnR31/tables</a></td>
      </tr>
      <tr>
        <td>Урок 6</td>
        <td><a href="https://github.com/AnR31/tables">https://github.com/AnR31/tables</a></td>
        <td><a href="https://stackblitz.com/github/AnR31/tables">https://stackblitz.com/github/AnR31/tables</a></td>
      </tr>
      <tr>
        <td>Урок 9</td>
        <td><a href="https://github.com/AnR31/table9">https://github.com/AnR31/table9</a></td>
        <td><a href="https://stackblitz.com/github/AnR31/table9">https://stackblitz.com/github/AnR31/table9</a></td>
      </tr>
      <tr>
        <td>Урок 10</td>
        <td><a href="https://github.com/AnR31/lesson10">https://github.com/AnR31/lesson10</a></td>
        <td><a href="https://stackblitz.com/github/AnR31/lesson10">https://stackblitz.com/github/AnR31/lesson10</a></td>
      </tr>
    </table>
  </div>
</div>

